html,
body {
  border-radius: 8px;
  background-color: #1e1e2e;
  color: #cdd6f4;
}

.qualitrics-survey-plugin-container {
  display: flex;
  flex-direction: column;

  width: 300px;
  height: fit-content;
}

.controls-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

p {
  margin: 0;
}

.cookie-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  h2 {
    margin: 0;
  }
}

#cookie-list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;

  font-size: 1rem;
  justify-content: center;
}

input[type="text"] {
  padding: 0.5em 0.75em;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition:
    box-shadow 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  outline: none;
}

button {
  background-color: #cba6f7;
  font-weight: 600;
  color: #1e1e2e;
  border: none;
  padding: 0.5em 1em;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;

  &:active,
  &:focus:active {
    transform: translateY(3px);
  }
}

h1 {
  display: flex;
  justify-content: center;
}
